<!doctype html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>
    <%= "#{data.page.title} - " if data.page.title %>
    Compiling a Web Development Environment on Mac OS X
  </title>

  <meta name="author" content="Patrick Bougie">
  <meta name="description" content="Guide for compiling a Web Development Environment on Mac OS X<%= ": #{data.page.title}" if data.page.title %>.">
  <meta name="apple-mobile-web-app-title" content="Mac Dev Env">
  <meta name="viewport" content="initial-scale=1">

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png">

  <!--[if gte IE 9]><!-->
  <%= stylesheet_link_tag "styles", media: nil, type: nil %>
  <!--<![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag "versioning", type: nil %>

</head>
<body id="<%= current_page.path.split('.').first %>">

  <%= partial "layouts/header" %>

  <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a href="https://github.com/pbougie/mac-dev-env">Fork me on GitHub</a>
      </div>
  </div>

  <section class="main" role="main">
    <% if data.page.title %>
      <header>
        <h2><%= data.page.title %></h2>
      </header>
    <% end %>
    <article>
      <%= yield %>
    </article>
    <% if data.page.title %>
      <footer>
        <p>
          <a href="/">← Return to the Table of Contents</a>
        </p>
      </footer>
    <% end %>
  </section>

  <%= partial "layouts/footer" %>

</body>
</html>
