<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>
    <%= "#{data.page.title} - " if data.page.title %>
    Compiling a Web Development Environment on Mac OS X
  </title>

  <meta name="apple-mobile-web-app-title" content="Mac Dev Env">
  <meta name="application-name" content="Mac Dev Env">
  <meta name="author" content="Patrick Bougie (http://patrickbougie.com/)">
  <meta name="description" content="<%= page_desc %>">
  <meta name="viewport" content="initial-scale=1">

  <link rel="icon" type="image/png" sizes="any" href="/favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1377c2">
  <meta name="msapplication-TileColor" content="#1377c2">
  <meta name="msapplication-TileImage" content="/ms-tile.png">
  <meta name="theme-color" content="#1377c2">

  <!--[if gte IE 9]><!-->
  <%= stylesheet_link_tag "site", media: nil, type: nil %>
  <!--<![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag "versioning", type: nil %>

</head>
<body data-page="<%= page_id %>">

  <%= partial "layouts/header" %>
  <%= partial "layouts/github" %>

  <section class="main" role="main">
    <% if data.page.title %>
      <header class="main__header">
        <h2><%= data.page.title %></h2>
        <% unless %w(index started-cli started-folders error).include?(page_id) %>
          <%= partial "layouts/before_starting" %>
        <% end %>
      </header>
    <% end %>
    <article class="main__article">
      <%= yield %>
    </article>
    <% if data.page.title %>
      <footer class="main__footer">
        <p>
          <a href="/">← Return to the Table of Contents</a>
        </p>
      </footer>
    <% end %>
  </section>

  <%= partial "layouts/footer" %>
  <%= partial "layouts/gauges" %>
  <%= partial "layouts/google_analytics" %>

</body>
</html>
