<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title><%= page_title %></title>

  <meta name="apple-mobile-web-app-title" content="<%= short_site_title %>">
  <meta name="application-name" content="<%= short_site_title %>">
  <meta name="author" content="Patrick Bougie (http://patrickbougie.com/)">
  <meta name="description" content="<%= page_desc %>">
  <meta name="viewport" content="initial-scale=1">

  <link rel="icon" type="image/png" href="/images/favicons/favicon.png">
  <link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pbougie">
  <meta property="og:title" content="<%= page_title(':') %>">
  <meta property="og:description" content="<%= page_desc %>">
  <meta property="og:url" content="http://mac-dev-env.patrickbougie.com/">
  <meta property="og:image" content="http://mac-dev-env.patrickbougie.com/favicon.png">

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "versioning" %>

</head>
<body data-page="<%= page_id %>">

  <%= partial "layouts/header" %>

  <main class="main" role="main">
    <article class="main__<%= page_id == 'index' ? 'homepage' : 'other' %>">
      <% if current_resource.data.title %>
        <h2 class="main__title">
          <%= current_resource.data.title %>
        </h2>
      <% end %>

      <%= partial "layouts/message" %>
      <%= partial "layouts/before" %>

      <div class="main__content" data-content>
        <%= yield %>
      </div>
    </article>
  </main>

  <%= partial "layouts/toc" unless page_id == 'index' %>
  <%= partial "layouts/return" unless page_id == 'index' %>
  <%= partial "layouts/external" %>
  <%= partial "layouts/footer" %>
  <%= partial "layouts/github" %>

  <%= javascript_include_tag "google_analytics" %>
  <%= javascript_include_tag "gauges" %>

</body>
</html>
